@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-monserrat;
    }
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}

@layer components {
    /* @media screen and (max-width: 1024px) {
        .title-l1 {
            @apply text-[96px];
        }
        .title-l2 {
            @apply text-[32px];
        }
        .title-l3 {
            @apply text-[24px];
        }

        .text-l1 {
            @apply text-[16px];
        }

        .text-l2 {
            @apply text-[12px];
        }
    } */

    .title-l1 {
        @apply uppercase font-black leading-[80%] md:text-[200px] text-[96px];
    }

    .title-l2 {
        @apply uppercase font-black leading-[80%] md:text-[48px] text-[32px];
    }

    .title-l3 {
        @apply uppercase font-black leading-[100%] md:text-[32px] text-[24px];
    }

    .text-l1 {
        @apply font-semibold md:text-lg leading-[150%] text-[16px];
    }

    .sp-24 {
        @apply uppercase leading[0.24em];
    }

    .text-l2 {
        @apply font-semibold md:text-sm leading-[150%] text-[12px];
    }

    .logo {
        @apply w-logoResponsive h-logoResponsive md:h-logo md:w-logo;
    }

    .logo-walkthrough {
        @apply w-[26px] h-[26px] md:w-8 md:h-8;
    }
}
